
img{
    width: 100%;
}

/*-------------------------------------header---*/
header {
  background-color: #e7e7eb;
  width: 100%;
}
  
.menu{
  z-index: 1;
 position: fixed;
}
.icon-bar{
    background: black;
}


nav li a{
	display: block;
	padding: 18px 15px;
	transition: all 0.2s;
	border-radius: 6px;
    color: black;
    margin: 12px;
}
nav li a:hover, nav li a:focus, nav li a:active{
	text-decoration: none;
	outline: none;
	background: #bfb8b8;
    color: white;
}

#main-navigation
{
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul
{
	background: rgba(40, 40, 178, 0.56);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}

.boton {
    margin: 12px 0;
}

/*--------------------chicas--------------del---mundo---*/
.participa{
    width: 100%;
    height: 550px;
    background-image: url(../img/home.jpg);
    background-position: center;
}

.text-center{
   padding: 10px;
    position: relative;
    top:12em;
}
.text-center h1{
  color: white;
}
.text-center p{
  font-size: 18px;  
}
.participa button{
    width: 150px;
    padding: 10px;
    border-radius:10px;
    background: #5493D1;
    border: none;
    color: white;
    font-size: 22px;
}
/*----------------------------section--container--video--*/
.mundo .container{
    text-align: center;
    margin-top: 50px;
}
.mundo .col-md-6{
    margin-bottom: 45px;
}
.mundo .container h2{
    margin: 30px;
}
.code-girls p{
    font-size: 16px;
}

/*---------------------------section---------------hackathon-----*/
.hackathon{
    padding: 40px 0;
    background-color: yellow;
}

.chica h3{
    text-align: center;  
}
.chica p {
    font-size: 15px;
}
.chica button {
    margin-top: 12px;
    width: 140px;
    padding: 8px;
    border-radius:10px;
    background: #5493D1;
    border: none;
    color: white;
    font-size: 22px;
}
/*--------------------section--cuatro--*/
.cuatro{
    padding: 40px;
}

.input button{
    width: 120px;
    background-color:#5493D1;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    padding: 7px;
}

h3{
    font-size: 28px;
}
/*-------------------------footer------------------*/
footer{
    padding: 30px;
    background: #3E959B;
    font-size: 18px;
    color: white;
}
footer span{
    color: yellow;
}
/*---------------------------------------------------------------------@media---sssss------------------*/

@media screen and (max-width:990px) and (min-width:768px){
    
    .text-center{
        position: relative;
        top:18em;
    }
    .desktop-menu {
        padding: 0;
        width: 100%;
        display: inline-block;
        margin-top: 7px;
    }
     .desktop-menu a{
        padding: 20px 10px;
        font-size: 12px;
        margin: 0px;
    }
}
@media screen and (max-width:990px) and (min-width:768px){
    
    .menu .row>div{
        width: 50%;
        text-align: left;
    }
    .menu h2 {
        font-size: 25px;
    }
}

